 <!-- ======= Footer ======= -->
 <footer id="footer" class="site-footer h-card">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>50% <span>Journey</span></h3>
          <p class="email-addresses">
            <strong>General Inquiries:</strong> <a href="mailto:info@the50journey.com?subject=Re:+50%25+Journey">info at the50journey.com</a><br>
            <strong>Coaching Related:</strong> <a href="mailto:coach@the50journey.com?subject=Re:+50%25+Journey+Coaching">coach at the50journey.com</a><br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Explore</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/resources">Resources</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/book">Book</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/about">About</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>The Journey</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/book">The 50% Journey</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/resources">Goal Setting Methods</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/resources">Guardrail Methods</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>airick journey crabill</span></strong>. All Rights Reserved
      </div>
    </div>
  </div>
</footer><!-- End Footer -->
